{{#if is_editing}}

  <button {{action deleteFoo foo }} class="btn btn-action btn-mini right_button"><i class="icon-remove"></i></button>

  <button {{#linkTo "foo.edit" foo class="btn btn-action btn-mini right_button" }} <i class="icon-edit"></i></button> {{/linkTo}}
{{/if}}

{{#linkTo "foo.index" foo}}
  {{foo.name}}  {{ foo.age}} : {{foo.id }} :  {{ foo.power }} : {{ foo.is_happy }}
{{/linkTo}}










